@import "../../styles/functions";
@import "../../styles/variables";
@import "../../styles/mixins";

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background-color: var(--color-brand);

  box-shadow: 0 rem(4) rem(28) rgba(88, 32, 246, 0.24);
  border-radius: rem(12);

  padding: 0 0 rem(20);

  user-select: none;
}

.wallet {
  margin: rem(-60) auto 0;
  transform: translateX(rem(-6));
}

.bannerBtn {
  margin: 0 auto;
  width: rem(227);

  letter-spacing: 0.05em;
  text-transform: uppercase;

  font-weight: 600;
  font-size: rem(16);
  line-height: rem(22);

  margin-bottom: rem(10);
}
