@import "../../styles/functions";
@import "../../styles/variables";
@import "../../styles/mixins";

.el {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  &_border {
    .input {
      border: 1px solid var(--color-stroke-dark);
      background: var(--color-white);
      //padding-left: rem(64);
      //padding-right: rem(64);
    }
  }
}

.label {
  @include caption;
  color: var(--color-text-muted);
  margin-bottom: rem(10);
}

.inner {
  position: relative;
  width: 100%;

  & > svg {
    position: absolute;
    top: 50%;
    left: rem(24);
    width: rem(24);
    height: rem(24);
    color: var(--color-brand);
    object-position: center;
    object-fit: contain;
    transform: translateY(-50%);
    pointer-events: none;
    transition: color $transition;
  }
}

.input {
  @include text;
  width: 100%;
  height: rem(48);
  padding: rem(15) rem(23);
  font-size: rem(16);
  line-height: rem(20);
  font-weight: 500;
  font-family: var(--main-font);
  color: var(--color-text-dark);
  background-color: var(--color-skeleton-bg);
  border: none;
  border-radius: rem(10);
  overflow: hidden;
  outline: none;
  transition: border-color $transition,  background-color $transition;

  @include mobile-large {
    font-size: rem(16);
  }

  &:disabled {
    pointer-events: none;
  }

  &:read-only {
    pointer-events: none;
    background-color: var(--color-gray);
  }

  &::placeholder {
    color: var(--color-text-muted);
    font-family: inherit;
  }

  &:focus {
    border-color: var(--color-brand);
  }

  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 rem(50) var(--color-white) inset !important;
  }

  &_icon {
    padding-left: rem(64);
  }

  &_disabled {
    padding-right: rem(55);
  }
}

.error {
  & > svg {
    color: var(--color-error);
  }

  & > input {
    border-color: var(--color-error);

    &:focus {
      border-color: var(--color-error);
    }
  }
}
