@import "../../../styles/functions";
@import "../../../styles/variables";
@import "../../../styles/mixins";

.el {
  position: relative;
  display: flex;
  gap: rem(24);
  align-items: center;
  padding: rem(10) 0;
  min-height: rem(40);
  color: var(--color-text-dark);
  border-bottom: 1px solid var(--color-stroke);
}

.hover {
  cursor: pointer;
}

.dropdown {
  margin-right: rem(12);
  margin-left: auto;
}