@import "../../../styles/functions";
@import "../../../styles/variables";
@import "../../../styles/mixins";

.el {
  padding-bottom: 20px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 rem(-10);
}

.item {
  width: rem(144);
  margin: 0 rem(10) rem(20);
}

.container {
  grid-template-columns: 30px 1fr 1fr 1fr;
  overflow: auto;
  max-height: 215px;
}

.container::-webkit-scrollbar {
  width: 8px;              
}

.container::-webkit-scrollbar-track {
  background: #DFDFDF;        
  border-radius: 13px;
}
  
.container::-webkit-scrollbar-thumb {
  background-color: var(--color-off);
  border-radius: 13px;       
    // border: 3px solid (--color-off);
}

.fan-container {
  width: 100%;
  // max-width: 400px;
  margin: auto;
  // background: #222;
  padding: 20px;
  border-radius: 10px;
  color: var(--color-text-dark);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  font-size: rem(18);
  font-weight: 500;

  .fan-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    svg {
      width: 35px;
      height: 35px;
    }
  }

  .fan-wrapper-empty {
    display: flex;
    align-items: center;
    justify-content: space-between;

    svg {
      width: 35px;
      height: 35px;
      g {
        stroke: var(--color-error);
      }
    }
  }

  .fan-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  h2 {
    margin-bottom: 10px;
  }

  .fan {
    margin-bottom: 10px;

    p {
      margin-bottom: 5px;
    }

    .bar-empty {
      width: 100%;
      background: var(--color-error);
      height: 6px;
      border-radius: 5px;
      overflow: hidden;

      .bar {
        height: 100%;
        background: var(--color-brand);
        transition: width 0.5s ease-in-out;
      }
    }

    .bar-container {
      width: 100%;
      background: var(--color-off);
      height: 6px;
      border-radius: 5px;
      overflow: hidden;

      .bar {
        height: 100%;
        background: var(--color-brand);
        transition: width 0.5s ease-in-out;
      }
    }
  }
}