@import "../../../styles/functions";
@import "../../../styles/variables";
@import "../../../styles/mixins";

.el {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.85rem;
    overflow: auto;
    // height: 225px;
    max-height: 235px;
    padding-right: 5px;
}

.el::-webkit-scrollbar {
    width: 8px;              
  }
  
.el::-webkit-scrollbar-track {
      background: #DFDFDF;        
      border-radius: 13px;
}
    
.el::-webkit-scrollbar-thumb {
      background-color: var(--color-off);
      border-radius: 13px;       
      // border: 3px solid (--color-off);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #676767;
    margin-top: 10px;
    margin-bottom: 10px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
    border-bottom: 1px solid #DFDFDF;
    padding-bottom: 5px;
}

.innerContent {
    font-weight: bold;
}