@import "../../../../styles/functions";
@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.el {
  grid-gap: rem(20);
  border-radius: rem(12);
}

.head {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.toggles {
  margin-left: auto;
}

.zoomBlock {
  display: flex;
  margin-left: auto;
}