@import "../../styles/functions";
@import "../../styles/variables";
@import "../../styles/mixins";

.el {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: rem(30);
}

.form {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: rem(20);
}

.submit {
  justify-self: start;
}

.generatePassword {
  color: black;
  border: none;
  /* margin: auto; */
  /* display: flex; */
  background: none;
  font-size: 12px;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  &:hover {
    background: none;
  }
}
