@import "../../styles/functions";
@import "../../styles/variables";
@import "../../styles/mixins";

.el {
  display: flex;
  align-items: center;

  margin-bottom: rem(20);

  width: 100%;
  padding: rem(10) rem(20);
  background-color: var(--color-warning-bg);
  box-shadow: 0 rem(4) rem(28) rgba(238, 200, 103, 0.25);
  border-radius: rem(12);

  color: var(--color-text-warning);
  font-weight: 500;
  font-size: rem(16);
  line-height: rem(24);

  @include mobile-large {
    font-size: rem(14);
    line-height: rem(16);
  }

  svg {
    flex-shrink: 0;
    width: rem(24);
    height: rem(24);
  }
}

.text {
  margin-left: rem(27);

  @include mobile-large {
    margin-left: rem(20);
  }
}
